/* input your custom styles or overwrite css */
.st_menu ul {
  padding: 1em;
  /* padding-top: 1.875em; */
}

.st_header_top {
  padding: 0;

}

.height-100vh-full-screen {
  min-height: 700px;
}

.st_banner_content h1 {
  line-height: initial;
}

.st_banner_sidebar_icon img {
  max-width: 50px;
}

.st_feature_single_item img{
  max-width: 50px;
}

.st_banner_content p.margin_bottom_0, .st_section_title_icon.bg-icon img {
  max-width: 35px;
}
