      <div class="row justify-content-center">
        <div class="col-md-9">
          <div class="card-group">
            <div class="card">
            <div class="card-header login-header">
              <%= image_tag "home/logo.png", alt: 'Home Logo', class: 'logo-card'  %>
            </div>
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="card-body p-4">
                  <h1><%= t('views.users.sessions.new.title') %></h1>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="icon-envelope"></i>
                      </span>
                    </div>
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: t('views.users.sessions.new.email'), class: 'form-control' %>
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="icon-lock"></i>
                      </span>
                    </div>
                    <%= f.password_field :password, autocomplete: "current-password", placeholder: t('views.users.sessions.new.password'), class:'form-control' %>
                  </div>
                  <div class="input-group mb-4">
                    <% if devise_mapping.rememberable? -%>
                      <div class="form-check checkbox">
                        <%= f.check_box :remember_me, class: "form-check-input"  %>
                        <%= f.label t('views.users.sessions.new.rememberme'), for: :user_remember_me, class: "form-check-label"   %>
                      </div>
                    <% end -%>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <%= f.submit t('views.users.sessions.new.submit'), class: "btn btn-primary px-4" %>
                    </div>
                    <div class="col-6 text-right">
                      <%= link_to t('views.users.sessions.new.forgotpass'), new_password_path(resource_name), class: "btn btn-link px-0" %><br />
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-12">
                      <% if(flash[:alert].present?) %>
                        <div class="alert alert-danger" role="alert"><%= flash[:alert] %></div>
                      <%end%>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
            <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
              <div class="card-body text-center">
                <div>
                  <h2><%= t('views.users.sessions.new.signupclaim')%></h2>
                  <p><%= t('views.users.sessions.new.signuptext')%></p>
                  <%= link_to t('views.users.sessions.new.signupbutton'), new_user_registration_path, class: "btn btn-primary active mt-3" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
