<%= render partial: 'duration' %>
<%= render partial: 'address' %>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th style="width: 30%"><%= I18n.t('views.account_profiles.index.from') %></th>
        <th style="width: 30%"><%= I18n.t('views.account_profiles.index.to') %></th>
      </tr>
    </thead>
    <tbody>
      <% (1..7).each do |day| %>
        <% e = @periods.find { |p| p.day_of_week == day } %>
        <tr>
          <td class="align-middle">
            <div class='checkbox form-check'>
              <%= check_box_tag("periods[#{e.day_of_week}]", e.day_of_week, e.end_time.present?, class: 'form-check-input') %>
              <%= label_tag(e.day_of_week, t('date.day_names')[e.day_of_week % 7] ) %>
            </div>
          </td>
          <td>
            <%= text_field_tag("periods[start_#{e.day_of_week}]", e.start_time, add_error_attrs(e, [:start_time, :start_hour, :start_minute], {class: "form-control", disabled: e.start_time.blank?})) %>
          </td>
          <td>
            <%= text_field_tag("periods[end_#{e.day_of_week}]", e.end_time, add_error_attrs(e, [:end_time, :end_hour, :end_minute], {class: "form-control", disabled: e.end_time.blank?})) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% if @success %>
    <div class="alert alert-success" role="alert"><%= I18n.t('views.account_profiles.index.success') %></div>
  <% end %>
  <% if @error %>
    <div class="alert alert-danger" role="alert"><%= I18n.t('views.account_profiles.index.error') %></div>
  <% end %>
</div>
