document.addEventListener('turbolinks:load', function(event) {
  if (typeof gtag === 'function') {
    gtag('config', '<%= Rails.application.credentials.dig(:g_tracking_id) %>', {
      'page_location': event.data.url
    })
  }
})
