/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require saastrend
 *= require_self
 */

@import "cookies_eu";

/* oxygen-regular - latin */
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: font_url('oxygen-v8-latin-regular.eot');
  src: font_url('oxygen-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       font_url('oxygen-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       font_url('oxygen-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
       font_url('oxygen-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       font_url('oxygen-v8-latin-regular.svg#Oxygen') format('svg'); /* Legacy iOS */
}

/* poppins-regular - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: font_url('poppins-v6-latin-regular.eot'); /* IE9 Compat Modes */
  src: font_url('poppins-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       font_url('poppins-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       font_url('poppins-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
       font_url('poppins-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       font_url('poppins-v6-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
}

