
header.masthead {
  text-align: center;
  color: #fff;
  background-image: image-url("header");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

header.masthead .intro-text {
  padding-top: 300px;
  padding-bottom: 200px;
}
header.masthead .intro-text .intro-lead-in {
  font-size: 40px;
  font-style: italic;
  line-height: 40px;
  margin-bottom: 25px;
}

header.masthead .intro-text .intro-heading {
  font-size: 75px;
  font-weight: 700;
  line-height: 75px;
  margin-bottom: 50px;
}
