<div class='row'>
  <div class='col-8 offset-2'>
    <div class='card'>
      <div class='card-header font-weight-bold'>
        <%= @form.account_name %>
      </div>
      <div class='card-body'>
        <div class="row">
          <div class="col-12 col-lg-6 offset-lg-3 text-center font-weight-bold day-interval">
            <%= l(@form.days_to_show.first, format: '%e %B') %> - <%= l(@form.days_to_show.last, format: '%e %B') %>
          </div>

          <div class="col-12 col-lg-3 text-right">
            <%= link_to(appointment_path(from: @form.next_period.strftime('%Y-%m-%d'))) do  %>
              <%= t('views.appointments.show.next_period') %>
              <i class="fa fa-angle-right fa-lg"></i>
            <% end %>
          </div>

        </div>

        <%= form_with scope: :appointment, url: appointment_path(@account.account_setting.slug), method: :patch, local: true, data: { controller: 'appointments'} do |f| %>
          <%= hidden_field 'appointment', 'selected-date', data: { target: 'appointments.date' }  %>
          <%= render 'small' %>
          <%= render 'large' %>
        <% end %>

        <div class="text-right mt-sm-3">
          <small><%= t('views.appointments.show.timezone_info', timezone: Time.find_zone(@account.account_setting.timezone).to_s) %> </small>
        </div>
      </div>
    </div>
  </div>
</div>

