<% @form.days_to_show.each do |day| %>
  <div class="mt-4 d-block d-md-none">
    <%= I18n.l(day, format: '%A %e %B') %>
  </div>
  <% if @form.slots_by_day_of_week[day.wday + 1].nil? %>
    <p class="d-block d-md-none"> No hay huecos disponibles </p>
  <% else %>
    <ul class="list-group d-block d-md-none">
      <% @form.slots_by_day_of_week[day.wday + 1].each do |slot| %>
        <li class="list-group-item d-flex list-group-item-action justify-content-between align-items-center" data-action="click->appointments#submit" data-value="<%= slot.start.iso8601 %>">
          <%= I18n.l(slot.start, format: '%H:%M') %> - <%= I18n.l(slot.end, format: '%H:%M') %>
          <i class="fa fa-angle-right fa-lg"></i>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>
