<!DOCTYPE html>
<html>
  <head>
    <title>Legalrock</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="<%= image_url('favicon.ico') %>">
    <link rel="icon" type="image/x-icon" href="<%= image_url('favicon32x32.png') %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/sentry' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="app header-fixed">
    <header class="app-header navbar">
      <a class="navbar-brand" href="#">
        <%= image_tag "logo.png", alt: 'Logo', class: "navbar-brand-full", height: '25px'  %>
      </a>

      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item">
          <span style="color: gray;"> <%= @account_settings.name %> </span>
        </li>
        <li class="nav-item">
          <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link', title: "Salir" do  %>
            <i class="icon-logout icons"></i>
          <% end %>
        </li>
      </ul>
    </header>

    <div class="app-body">
      <main class="main">
      <%= yield %>
    </div>
    </div>
    <footer class="app-footer">
      <div>
        <a href="https://legalrock.es/">LegalRock</a>
        <span>2019</span>
      </div>
      <ul class="nav ml-auto">
        <li class="nav-item">
          <%= link_to 'Aviso Legal', legal_static_index_path, class: 'nav-link' %>
        </li>
      </ul>
    </footer>
  </body>
</html>
<%= render 'cookies_eu/consent_banner', link: '/legal#cookies' %>
